@model IEnumerable<SD_310_W22SD_Assignment.Models.Song>

@{
    ViewData["Title"] = "TopSellingSongs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TopSellingSongs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Artist
            </th>
            <th>
                Downloads
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Collections.Count)
            </td>
        </tr>
}
    </tbody>
</table>
